.loginButton {
    background-color: #055904 !important;
    border: 3px solid #055904 !important;
}  
.loginButton:hover{
    background-color: #ffffff !important;
    color: #055904 !important;
}


.loginButton .p-button-icon{
    padding-top: 3px;
    margin-right: 16px;
}


.loginButton .p-button-label {
    margin-left: 16px;
    font-size: large !important;
    font-weight: 500 !important;
}
