.containerLogoutButton{
    display: flex;
    justify-content: flex-end;
}



.logoutButton{
    margin-top: 10px !important;
    color: #ffffff !important;
}
.logoutButton:hover{
    background-color: #ffffff !important;
    color: #055904 !important;
}



.logoutButton .p-button-label {
    text-align: end;
    font-size: large !important;
    font-weight: 500 !important;
}



.logoutButton .p-button-icon{
    padding-top: 3px;
}