.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  background-color: #ffffff;
  border-bottom: 5px solid #055904;
  
  width: 100%;
  padding: 1vh 0;
  padding-right: 10px;/*apenas para compensar o encosto do botão*/
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding-top: 1vh;
  padding-bottom: 1vh;
}
.logo > img {
  width: 95px;
}

.loginButton, .search {
  display: flex;
  align-items: center;
  justify-content: center;
}

  